{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'main/styles.css' %}">
	<title>RukoMerch</title>
</head>

<body>
	{% csrf_token %}
	<nav class="navbar">
		<h1 class="brand">RukoMerch</h1>
		<div id="navbar-link">
			<a href="/" class="button-yellow button-effect">🏠Home</a>
			<button onclick="displayModal()" class="button-yellow button-effect">🫳Add Item</button>
			<a href="{% url 'main:logout' %}" class="button-yellow button-effect">🥺Log Out</a>
		</div>
	</nav>

	<main>
		{% block content %}
		<div class="grid-gap-1">
			<div id="welcome" class="container-white">
				<h2>Wilujeng sumping kak {{ name }}!</h2>
				<p>Terakhir login: {{ last_login }}</p>
			</div>

			<div id="title-and-add" class="container-white">
				<div>
					<h2>Produk Kami</h2>
					<p id="items-length-container"></p>
				</div>
				<a id="add-button" href="{% url 'main:create_item' %}">
					<img src="{% static 'main/icons/add_icon.svg' %}" alt="add icon">
				</a>
			</div>

			<div id="card-container">
			</div>
		</div>
		{% endblock %}
	</main>

	<div id="modal-n-backdrop">
		<div id="backdrop" onclick="removeModal()"></div>

		<div id="modal">
			<h1>Add New Item</h1>

			<div class="field-container">
				<input type="text" placeholder="Nama Item" name="name">
				<div class="price-amount-container">
					<input type="text" placeholder="Price" name="price">
					<input type="text" placeholder="Amount" name="amount">
				</div>
				<textarea placeholder="Description" name="description"></textarea>
				<select id="categories-select" aria-placeholder="Category" name="category"></select>
				<input type="file" name="image">
				<button onclick="createItem()" class="button-yellow button-effect">Create</button>
			</div>
		</div>
	</div>

	{% block script %}
	<script>
		const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

		const getItems = async () => {
			return fetch(" {% url 'main:get_items_json' %}").then(res => res.json())
		}

		const refreshItems = async () => {
			document.getElementById('card-container').innerHTML = ''
			const items = await getItems()
			console.log(items);
			let htmlString = ''

			if (items.length == 0) {
				document.querySelector('#items-length-container').innerHTML = `Tidak ada produk :(`
			} else {
				document.querySelector('#items-length-container').innerHTML = `Terdapat ${items.length} produk di RukoMerch`
			}

			items.forEach((item) => {
				const category = fetch(`/category/${item.fields.category}`).then((res) => res.json()).then(resJson => {
					htmlString += `
				<a class="card">
					<img src="${item.fields.image}">
					<div class="card-text">
						<div class="edit-btn-container">
							<div class="add-substract-container">
								<button class="button-effect button-square bg-blue"
									value="add$${item.pk}" onclick="addAmount('${item.pk}')">➕</button>
								<button class="button-effect button-square bg-red"
									value="substract$${item.pk}" onclick="reduceAmount('${item.pk}')">➖</button>
							</div>
							<button class="button-effect button-square bg-yellow delete-item-btn"
								value="delete$${item.pk}" onclick="deleteItem('${item.pk}')">🗑️</button>
						</div>
						<h3>${item.fields.name}</h3>
						<span>${item.fields.description}</span>
						<span>Rp ${item.fields.price}</span>
						<span>Amount: ${item.fields.amount}</span>
						<span class="tag">${resJson.categoryName}</span>
					</div>
				</a>`

					document.getElementById('card-container').innerHTML = htmlString
				})
			})

			const categoryResponse = await fetch('/category')
			const categories = await categoryResponse.json()
			console.log(categories);
			categoryString = ''

			categories.forEach(category => {
				categoryString += `<option value="${category.pk}">${category.fields.name}</option>`
			})

			document.querySelector('#categories-select').innerHTML = categoryString
		}

		const addAmount = (id) => {
			const form = new FormData()
			form.append('action', `add$${id}`)

			fetch('edit/item', {
				method: 'POST',
				body: form,
				headers: { 'X-CSRFToken': csrftoken },
				mode: 'same-origin'
			}).then(res => refreshItems())
		}

		const reduceAmount = (id) => {
			const form = new FormData()
			form.append('action', `substract$${id}`)

			fetch('edit/item', {
				method: 'POST',
				body: form,
				headers: { 'X-CSRFToken': csrftoken },
				mode: 'same-origin'
			}).then(res => refreshItems())
		}

		const deleteItem = (id) => {
			const form = new FormData()

			fetch(`edit/item?id=${id}`, {
				method: 'DELETE',
				headers: { 'X-CSRFToken': csrftoken },
				mode: 'same-origin'
			}).then(res => refreshItems())
		}

		const displayModal = () => {
			document.querySelector('#modal-n-backdrop').style.display = 'flex'
			document.querySelector('#backdrop').classList.add('fade-in-animation')
			document.querySelector('#modal').classList.add('pop-up-animation')
		}

		const removeModal = () => {
			document.querySelector('#backdrop').classList.add('fade-out-animation')
			document.querySelector('#modal').classList.add('pop-down-animation')
			document.querySelector('#modal-n-backdrop').style.display = 'none'
		}

		const createItem = () => {
			const form = new FormData()

			form.append('name', document.querySelector('input[name="name"]').value)
			form.append('price', document.querySelector('input[name="price"]').value)
			form.append('amount', document.querySelector('input[name="amount"]').value)
			form.append('description', document.querySelector('textarea[name="description"]').value)
			form.append('category', document.querySelector('select[name="category"]').value)
			form.append('image', document.querySelector('input[name="image"]').files[0])

			fetch('/create-ajax', {
				method: 'POST',
				body: form,
				headers: { 'X-CSRFToken': csrftoken },
				mode: 'same-origin'
			}).then(res => {
				document.querySelector('input[name="name"]').value = '';
				document.querySelector('input[name="price"]').value = ''
				document.querySelector('input[name="amount"]').value = ''
				document.querySelector('textarea[name="description"]').value = ''
				document.querySelector('select[name="category"]').value = ''
				document.querySelector('input[name="image"]').value = null

				removeModal();
				refreshItems()
			})
		}

		refreshItems()
	</script>
	{% endblock script %}

</body>

</html>