{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'main/styles.css' %}">
	<title>RukoMerch</title>
</head>

<body>
	<nav class="navbar">
		<h1>Selamat Datang di <span class="brand">RukoMerch</span>!</h1>
	</nav>

	{% block content %}
	<main>
		<div class="grid-gap-1">
			<h2>Produk Kami</h2>
			<div class="card-container">
				{% for item in items %}
				<a class="card" href="/product/{{item.category.name}}/{{item.id}}">
					<img src="{{item.image.url}}">
					<div class="card-text">
						<h3>{{item.name}}</h3>
						<p>Rp {{item.price}}</p>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</main>
	{% endblock %}

</body>

</html>