{% extends 'index.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class="login">

	<h1>Login</h1>

	<form method="POST" action="" class="form-login">
		{% csrf_token %}
		<div class="entry-div">
			<h3>Username: </h3>
			<input type="text" name="username" placeholder="Username" class="form-control">
		</div>

		<div class="entry-div">
			<h3>Password: </h3>
			<input type="password" name="password" placeholder="Password" class="form-control">
		</div>

		<div>
			<input class="btn login_btn submit-yellow submit-effect" type="submit" value="Login"></td>
		</div>
	</form>

	{% if messages %}
	<ul class="warning-login">
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	<p>Belum punya akun 🫤? <a href="{% url 'main:register' %}">Buat Sekarang! 😎</a></p>

</div>

{% endblock content %}